/*          Reset          */
body, ul, ol, li, h1, h2, h3, p { margin: 0; padding: 0; }
a { text-decoration: none; color: #444; }
li { list-style: none; }
i, em { font-style: normal; }
input { outline: none; background-color: #fff; }
body {  width: 100%; height: 100%; color: #444; font-family: 'microsoft yahei', sans-serif; line-height: 1.5; background-color: #f9f9f9; }

.fl { float: left; }
.fr { float: right; }
.clear:after { clear: both; display: block; content: ''; height: 0; visibility: hidden; }
.dv { width: 100%; height: 0; color: #ddd; border-bottom: 1px solid; }
::selection { color: #fff; background: #808080; }

.wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; }
.main { position: relative; top: 0; left: 0; width: 1000%; height: 100%; }
.item { float: left; position: relative; width: 10%; height: 100%; overflow: auto; }

.load-wrap { z-index: 1000; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: #fff; }
.loading { z-index: 1000; position: absolute; top: 0; left: 0; width: 0%; height: 5px; background-color: #616161; transition: load .2s linear; }


.nav { position: fixed; left: 50%; width: 660px; height: 80px; line-height: 60px; border-bottom: 1px solid #eee; z-index: 100; transform: translate3d(-50%, 0, 0); }
.nav i, .nav a { margin-left: 50px; }
.nav a { font-family: 'Ubuntu', sans-serif; border-bottom: 1px solid; font-size: 1.125em; }
.nav .logo { font-size: 40px; font-family: 'Permanent Marker', cursive; border-bottom: none; cursor: pointer; }
.nav-scroll { position: fixed; top: 0; right: 18px; width: 100%; height: 80px; background-color: #f9f9f9; z-index: 10; }
.content { margin: 0 auto; padding: 100px 30px 0; padding-left: calc(100vw - 100% + 30px); text-align: center;  font-family: 'Ubuntu';}
.con-wrap { position: relative; padding-bottom: 100px; }

.welcome .btns-wrap { padding-top: 80px; }
.welcome .btns-wrap h1 { font-size: 3.75em; padding: 20px 0; }
.welcome .btns { position: relative; }
.welcome .btns a { display: inline-block; padding: 5px 15px; color: #fff; border: 1px solid; background-color: #333; font-size: 13px; }
.welcome .btns a:hover { background-color: #444; }
.welcome .tips { height: 20px; font-size: 13px; color: #757575; padding: 10px 0; }
.welcome .info { display: none; line-height: 2; padding: 20px; }
.welcome .info a { color: #616161; font-size: 1.875em; font-style: italic; }
.welcome .info a:hover { color: #e57373; }
.welcome .icon { position: absolute; bottom: 60px; left: 50%; padding: 27px 10px 0; margin: 0 auto; cursor: pointer; transform: translate3d(-50%, 0, 0); }
.welcome .icon div { height: 3px; width: 27px; background-color: #808080; transition: all .2s ease-in-out; }
.icon .i1 { transform: rotate(45deg) translate3d(0, -10px, 0); }
.icon .i2 { transform: rotate(-45deg) translate3d(0, -15px, 0); }
.icon.close .i1 { transform: rotate(45deg) translate3d(-12px, -10px, 0); background-color: #bbb; }
.icon.close .i2 { transform: rotate(-45deg) translate3d(12px, -15px, 0); background-color: #bbb; }

.portfolio .list-box { width: 400px; margin: 0 auto; text-align: left; }
.portfolio .list { position: relative; margin: 10px 0; padding: 0 8px; border: 1px dashed; border-radius: 5px; }
.portfolio .list h3 { padding: 10px 0; }
.portfolio .list i { position: absolute; top: 18px; right: 10px; width: 10px; height: 10px; text-align: center; line-height: 10px; cursor: pointer; transform: rotateZ(45deg); transition: all .2s; }
.portfolio .list ol { display: block; margin-left: 30px;  }
.portfolio .list li { margin-bottom: 10px; list-style: decimal; }
.portfolio .list a:hover { color: #999; }
.portfolio .list span { color: #808080; font-size: 12px; padding-left: 10px; }

.about .content { width: 600px; margin: 0 auto; text-align: left; }
.about .detail-info > div,
.about .basic-info > div { margin: 50px 0; }
.about .detail-info .session { margin-left: 150px; line-height: 2; }
.about .detail-info li { list-style: disc; }
.about .detail-info ul { padding-left: 40px; }
.about .detail-info strong { display: block; }
.about .detail-info h4 { text-indent: -40px; }
.about .basic-info { padding-left: 120px; }
.about .basic-info p { margin-left: 50px; line-height: 35px; }
.about .basic-info img{ width: 100px; height: 100px; border-radius: 50%; }

.contact-me { width: 300px; margin: 50px auto; font-size: 22px; text-align: left; }
.contact-me .fa { margin-right: 10px; }
.contact-me p,
.contact-me h3 { white-space: nowrap; margin-bottom: .8em }
.contact-me h3 { word-spacing: 10px; padding-top: 30px; }
.contact-me span { font-size: 18px; padding-left: 10px; }

.copyright { position: absolute; bottom: 0; width: 100%; font-size: 12px; text-align: center; color: #999; }

@keyframes load {
	0% { width: 60%; }
	100% { width: 80%; }
}

@media screen and (max-width: 450px) and (min-width: 0) {
	body { font-size: 70% }
	.nav { width: 320px; }
	.nav a, .nav i { margin: 0 2px; font-size: 12px; }
	.portfolio .list-box { width: 270px; }
	
	.about .detail-info > div,
	.about .basic-info > div { margin: 30px 0; }
	.about .content { width: auto; text-align: center;}
	.about .detail-info .session { margin-left: 20px; text-align: left; }
	.about .basic-info { padding-left: 0; }
	.about .basic-info p { margin-left: 0; }
	.about .fl { float: none; }
	.about h3 { padding-bottom: 20px; }
	
	.contact-me { width: auto; font-size: 1.375em; }
	.contact-me p { white-space: normal; word-break: break-all; }
	.contact-me span { font-size: 1.125em; }

}

@media screen and (max-width: 960px) and (min-width: 450px) {
	body { font-size: 90% }
}